!!! 5

%html
  %head
    %title Flack Overstow
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:src => "js/vendor/underscore-min.js"}
    %script{:src => "js/flack.js"}

  %body
    %h1 Flack Overstow

    #footer
      &copy; 2012 Mark Rushakoff
      %br/
      (MIT Licensed)
